.navbar-custom {
    background-color: #000000;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
}

.navbar-toggler { border-color: rgba(255, 255, 255, 0.1); /* Ajusta a cor da borda do botão */ } .navbar-toggler .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28 255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") 
}


 .navbar-nav { margin-left: auto;  }


 .gallery img { width: 100%; height: auto; max-width: 300px; /* Ajuste o valor conforme necessário */ max-height: 200px; /* Ajuste o valor conforme necessário */ border-radius: 8px; transition: transform 0.3s ease-in-out; } .gallery img:hover { transform: scale(1.1); }